.delete-list-modal {
    height: auto;
    display: flex;
    font-family: Tahoma, sans-serif;
    padding: 15px;
    flex-direction: column;
}

.delete-list-subtitle {
    align-self: center;
    margin-top: 0px;
}

.delete-list-buttons-container {
    font-family: Tahoma, sans-serif;
    display: flex;
    /* padding-left: 100px; */
    justify-content: space-evenly;
}

.delete-list-button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: none;
    border: none;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

.delete-list-button:hover {
    background-color: rgb(182, 182, 182);
}
