.navbar {
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.profile-user-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  font-family: Tahoma, sans-serif;
}

.profile-logout {
  background-color: white;
  border: none;
}

.profile-logout:hover {
  background-color: gray;
  cursor: pointer;
}

.navbar-options {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}

.home-logo-container {
  align-self: center;
}

.home-logo {
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 23px;
  color: orange;
}

.home-board-redirect {
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  cursor: pointer;
  color: black;
}

.home-board-redirect:hover {
  background-color: rgb(182, 182, 182);
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.profile-dropdown {
    display: flex;
    position: absolute;
    height: auto;
    width: 95px;
    right: 25px;
    background: white;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-around;
}

.login-button {
  color: blue;
  font-family: Tahoma, sans-serif;
  background-color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}
