.navbar {
  display: flex;
  padding: 20px 50px 20px 50px;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.home-logo {
  align-self: center;
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.profile-dropdown {
  display: flex;
  position: absolute;
  right: 25px;
  background: white;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid black;
  flex-direction: column;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  height: 55px;
  justify-content: space-around;
}

.login-button {
  color: blue;
  font-family: Tahoma, sans-serif;
  background-color: white;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}
