.board-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid orange;
}

.create-board-button{
    color: black;
    background-color: #d7d7d7;
    border-radius: 20px;
    margin: 10px
}
.single-board {
    border: solid red;
    margin: 10px
}
