.homepage {
    display: flex;
    height: 430px;
    padding-left: 20px;
    background: linear-gradient(#00c0ff, #7373ff);
    flex-direction: column;
    justify-content: center;
}


.homepage-title {
    font-family: Tahoma, sans-serif;
}

.homepage-description {
    font-family: Tahoma, sans-serif;
}

.homepage h3 {
    font-family: Tahoma, sans-serif;
}

.homepage h4 {
    font-family: Tahoma, sans-serif;
}

.homepage-dashboard-redirect {
    text-decoration: none;
    display: flex;
    cursor: pointer;
    color: black;
    width: 110px;
    justify-content: center;
    border: solid black;
    border-radius: 20px;
    background-color: white;
}

.homepage-dashboard-redirect:hover {
    background-color: rgb(182, 182, 182);
}

.dashboard-auth-container {
    display: flex;
    align-items: center;
    height: 30px;
    width: 175px;
    justify-content: space-around;
}

.or {
    font-family: Tahoma, sans-serif;
}

.dashboard-login-button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: none;
    border: none;
    border: solid black;
    border-radius: 20px;
    background-color: white;
}

.dashboard-login-button:hover {
    background-color: rgb(182, 182, 182);
}
