.homepage {
    display: flex;
    height: 430px;
    padding-left: 20px;
    background: #93efff;
    flex-direction: column;
    justify-content: center;
}

.homepage-title {
    font-family: Tahoma, sans-serif;
}
