.delete-label-modal {
    display: flex;
    font-family: "Tahoma", sans-serif;
    flex-direction: column;
}

.delete-label-buttons-container {
    align-self: center;
}

.delete-label-button {
    margin-top: 20px;
    /* margin-left: 120px; */
    margin-bottom: 20px;
    align-self: center;
    width: 145px;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: none;
    border: none;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

.delete-label-button:hover {
    margin-top: 20px;
    /* margin-left: 120px; */
    margin-bottom: 20px;
    align-self: center;
    width: 145px;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    border: solid 1px black;
    border-radius: 20px;
}
