.board-title-container {
    display: flex;
    align-items: center;
}

.board-buttons-container {
    display: flex;
    width: 270px;
    margin-left: 25px;
    justify-content: space-between;
}

.board-title {
    font-family: Tahoma, sans-serif;
    margin-left: 15px;
}

.orange {
    /* background-color: orange; */
    background: linear-gradient(#ff7300, yellow);
}

.storm {
    /* background-color: darkblue; */
    background: linear-gradient(#0022ff, #292929);
}

.grass {
    /* background-color: green; */
    background: linear-gradient(#00cf00, lime, white);
}

.all-lists-container {
    /* border: solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 15px;
}

.details-board-button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: none;
    border: none;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

.details-board-button:hover {
    background-color: rgb(182, 182, 182);
}

.create-list-button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
    height: 50px;
    align-self: center;
    border-radius: 30px;
}

.list-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.list-title {
    font-family: Tahoma, sans-serif;
}

.single-list {
    border: solid white;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.flower{
    border: solid 4px pink;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.starry{
    border: solid 4px yellow;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.stormy{
    border: solid 4px darkblue;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.details-list-button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    background-color: none;
    border: none;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

.details-list-button:hover {
    background-color: rgb(182, 182, 182);
}
