.board-title-container{
    display: flex;
    align-items: center;
}

.board-title {
    font-family: Tahoma, sans-serif;
    margin-left: 15px;
}

.orange {
    background-color: orange;
}

.storm {
    background-color: darkblue;
}

.grass {
    background-color: green;
}

.all-lists-container {
    /* border: solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 15px;
}

.create-list-button {
    /* color: red; */
    margin: 10px;
    height: 50px;
    align-self: center;
    border-radius: 30px;
}

.list-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.list-title {
    font-family: Tahoma, sans-serif;
}

.single-list {
    border: solid white;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.flower{
    border: solid 4px pink;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.starry{
    border: solid 4px yellow;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}

.single-list.stormy{
    border: solid 4px darkblue;
    border-radius: 20px;
    background: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #292929;
}
